---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      My main tools are:
      <ul class="list-disc list-inside">
        <li role="link">Symfony</li>
        <li role="link">React</li>
        <li role="link">MySQL</li>
        <li role="link">Docker</li>
      </ul>
    </p>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
    <p class="font-light">
      Beyond coding, I'm passionate about music, food and travels.
    </p>
    <p class="font-light">
      Even if I have some favorite tools, I can adapt to company technologies and I am
      open to learning new things.
    </p>
  </div>
</Card>
