---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-sm">
    Currently working at <a
      class="font-bold hover:text-green-500"
      href="https://liaisons-habitat.fr/"
      target="_blank">Liaisons Habitat</a
    > as Symfony developer.
  </p>
</Card>
