---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-2">
  <h1>Koffeez ☕️</h1>
  <a href="https://koffeez.webflow.io/" target="_blank">
    <img
      src="../../public/Koffeez.webp"
      alt="an asteroid video game"
      class="rounded hover:opacity-50 hover:cursor-pointer transition-opacity duration-100 ease-in-out mt-2 h-48 w-full object-cover"
    />
  </a>
  <p class="mt-2 text-sm">
    Koffeez is an application for specialty coffee enthusiasts and those who
    want to get started with it. (Work in progress...)
  </p>
</Card>
