---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-2">
  <h1>Asteroid Game 🚀</h1>
  <a href="https://github.com/sebcriado/asteroid-game" target="_blank">
    <img
      src="/asteroid.webp"
      alt="an asteroid video game"
      class="rounded hover:opacity-50 hover:cursor-pointer transition-opacity duration-100 ease-in-out mt-2"
    />
  </a>
  <p class="mt-2 text-sm">
    A simple game where you control a spaceship and try to avoid asteroids.
  </p>
</Card>
