---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-2">
  <h1>French shop 🛒</h1>
  <a href="https://github.com/sebcriado/La-boutique-francaise" target="_blank">
    <img
      src="../../public/boutique.webp"
      alt="an asteroid video game"
      class="rounded hover:opacity-50 hover:cursor-pointer transition-opacity duration-100 ease-in-out mt-2 h-48 w-full object-cover"
    />
  </a>
  <p class="mt-2 text-sm">
    E-shop where you can filter the products and add to cart. There is an admin
    interface where you can add products and categories
  </p>
</Card>
