---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-2">
  <h1>ExerKids</h1>
  <a href="https://github.com/sebcriado/ExerKids" target="_blank">
    <img
      src="/exerkids.webp"
      alt="exerkids app"
      class="rounded hover:opacity-50 hover:cursor-pointer transition-opacity duration-100 ease-in-out mt-2 h-48 w-full object-cover md:h-34"
    />
  </a>
  <p class="mt-2 text-sm">
    ExerKids is an application that helps children with various disorders (ADHD, ASD) practice compensating for their difficulties through simple and fun exercises.
  </p>
</Card>
